server {
<% if @default_server %>
  listen 80 default_server;
<% else %>
  listen 80;
<% end %>
  server_name <%= @fqdn %>;
  server_tokens off;
  return 301 https://<%= @fqdn %>$request_uri;
}

server {
  listen 443 ssl;
  server_name <%= @fqdn %>;
  add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";

  ssl_certificate /etc/ssl/<%= @fqdn %>.crt;
  ssl_certificate_key /etc/ssl/<%= @fqdn %>.key;
  ssl_protocols TLSv1.2;
  ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
  ssl_prefer_server_ciphers off;

  location / {
    proxy_pass http://127.0.0.1:4180/;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forward-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forward-Proto http;
    proxy_set_header X-Nginx-Proxy true;
    proxy_redirect off;
  }
}
